<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-5.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- change the user name -->
        <property name="hibernate.connection.username">xmeme</property>

        <!-- change the password -->
        <property name="hibernate.connection.password">xmememysql</property>

        <!-- limit threads based on the configuration -->
        <property name="hibernate.connection.pool_size">10</property>

        <!-- While debugging can true it on -->
        <property name="show_sql">false</property>

        <!-- The below is for MySQL; If you use change accordingly-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/xmeme</property>

        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Below are two tables which are needed to store the URL-->
        <mapping class="com.xmeme.pojo.MemeCreator" />
        <mapping class="com.xmeme.pojo.Memes" />

    </session-factory>
</hibernate-configuration>